@tailwind base;
@tailwind components;
@tailwind utilities;


@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.beige{
  color: #a95728;
}

.bg-beige{
  background-color: #a95728;
}


html {
  scroll-behavior: smooth;
}

.paragraphe{
  font-family: 'PT Serif', serif;
}

.gris{
  color: #3E3D3D;
}

.bg-gris{
  background-color: #3E3D3D;
}

.space-perso-3 > :not([hidden]) ~ :not([hidden]) {
  --tw-space-y-reverse: 0;
  margin-top: calc(0.75rem /* 12px */ * calc(1 - var(--tw-space-y-reverse)));

}



